<!- depending on what role the user has, i present different headers.
Personal health decleration for patient.>


<% if(controll === "admin") { %>
  <%- include("styling/header", {title: title}); %>
<% } %>
<% if(controll === "user") { %>
  <%- include("styling/header3", {title: title}); %>
<% } %>

<div class ="journalhead">
  <div class ="middle2">
    
    <% for (const row of res[0]) { %>
      
      <input type="radio" id="radio1" name="radios" value="false" onclick= "window.location =`/vaccine/vaccine/<%= row.Id %>`;" >
          <label for="radio1">Vaccination</label>
      <input type="radio" id="radio2" name="radios"value="true" onclick= "window.location =`/vaccine/health/<%= row.Id %>`;" checked>
          <label for="radio2">Health Decleration</label>
      <input type="radio" id="radio3" name="radios"value="true" onclick= "window.location =`/vaccine/newvaccine/<%= row.Id %>`;" >
        <label for="radio3">New</label>
      <input type="radio" id="radio4" name="radios"value="true" onclick= "window.location =`/vaccine/patient/<%= row.Id %>`;" >
        <label for="radio4">Journal</label>
  
    <% }; %>

  <div class ="split left">

    <div class = "journalbox">
      
      <html>
        <body>
            <h3> Patient </h3>
            <ol>
              <% for (const row of res[0]) { %>
                <li><%= row.NameInfo%></li>
                <li><%= row.PersonInfo %></li>
                <li><%= row.Date %></li>
              <% }; %>
            </ol>
        </body>
        </html>
      </div>
    </div>
  </div>
</div>

<div class ="middlesecond">
      <table>
          <thead>
              <tr>
                  <th>Reaction</th>
                  <th>Allergies</th>
                  <th>Blood Thinning</th>
                  <th>Pregnant</th>
                  <th>Recently Vaccinated</th>
                  <th>Date</th>
              </tr>
          </thead>
          <tbody>
          <% for (const row of res[2]) { %>
              <tr>
                  <td><%= row.Reaction %></a></td>
                  <td><%= row.Allergies %></a></td>
                  <td><%= row.BloodThinning %></a></td>
                  <td><%= row.Pregnant %></td>
                  <td><%= row.RecentlyVaccinated %></td>
                  <td><%= row.Date %></td>
              </tr>
          <% }; %>

      </table>

</div>


<%- include("styling/footer"); %>